/*Making the board*/  

body {
    background-color: #302f2f;
}

#board{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 45vw;
    height: 45vw;
    transform: translate(5%,4.44%);
    border: 3px solid black;
}

.square{
    display: inline-block;
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    background-color: #7699AF;
    
}
 button{
    font-size: 1vh; width: 6vw;;
    width: 5vw;
    height: 2vh;
 }

/*Establishing location of each square on the board*/
#s11{
    background-color: #D5E0E6;
    
    
}

#s12{
    left: 7.5vw;
    
}

#s13{
    left: 15vw;
    background-color: #D5E0E6;
}

#s14{
    left: 22.5vw;
}

#s15{
    left: 30vw;
    background-color: #D5E0E6;
}

#s16{
    left: 37.5vw;
}

#s21{
    top: 7.5vw;
}

#s22{
    top: 7.5vw;
    left: 7.5vw;
    background-color: #D5E0E6;
}

#s23{
    top: 7.5vw;
    left: 15vw;
}

#s24{
    top: 7.5vw;
    left:22.5vw;
    background-color: #D5E0E6;
}

#s25{
    top: 7.5vw;
    left: 30vw;
}

#s26{
    top: 7.5vw;
    left: 37.5vw;
    background-color: #D5E0E6;
}

#s31{
    top: 15vw;
    background-color: #D5E0E6;
}

#s32{
    top: 15vw;
    left: 7.5vw;
}

#s33{
    top: 15vw;
    left: 15vw;
    background-color: #D5E0E6;
}

#s34{
    top: 15vw;
    left: 22.5vw;
}

#s35{
    top: 15vw;
    left: 30vw;
    background-color: #D5E0E6;
}

#s36{
    top: 15vw;
    left: 37.5vw;
}

#s41{
    top: 22.5vw;
}

#s42{
    top: 22.5vw;
    left: 7.5vw;
    background-color: #D5E0E6;
}

#s43{
    top: 22.5vw;
    left: 15vw;
}

#s44{
    top: 22.5vw;
    left: 22.5vw;
    background-color: #D5E0E6;
}

#s45{
    top: 22.5vw;
    left: 30vw;
}

#s46{
    top: 22.5vw;
    left: 37.5vw;
    background-color: #D5E0E6;
}

#s51{
    top: 30vw;
    background-color: #D5E0E6;
}

#s52{
    top: 30vw;
    left: 7.5vw;

}


#s53{
    top: 30vw;
    left: 15vw;
    background-color: #D5E0E6;
}

#s54{
    top: 30vw;
    left: 22.5vw;
}

#s55{
    top: 30vw;
    left: 30vw;
    background-color: #D5E0E6;
}

#s56{
    top: 30vw;
    left: 37.5vw;
}

#s61{
    top: 37.5vw;
}

#s62{
    top: 37.5vw;
    left: 7.5vw;
    background-color: #D5E0E6;
}

#s63{
    top: 37.5vw;
    left: 15vw;
}

#s64{
    top: 37.5vw;
    left: 22.5vw;
    background-color: #D5E0E6;
}

#s65{
    top: 37.5vw;
    left: 30vw;
}

#s66{
    top: 37.5vw;
    left: 37.5vw;
    background-color: #D5E0E6;
}

.hovered{ /*for when a dragged tile hovers over this specific square*/
    filter: blur(.8vw)
}


/*Making the individual tiles*/
.tile{
    position: relative;
    display: none;
    width: 7vw;
    height: 7vw;
}

.displayed{
    position: relative;
    cursor: move;
    margin: 0.25vw;
    display: inline-block;
    visibility: visible;
    width: 7vw;
    height: 7vw;
}


.tile.dragged{
    opacity: 0;
}

#containerbox{
    filter: brightness(100%);
    background-color: #505050;
    border: 1px solid black; 
    width: 50%; 
    height: 100%; 
    left: -60%;
}

.image{
    position:absolute;
    width: 99%;
    height: 99%;
    border-radius: 1vw;
    border: solid black 1px;
}

/*Setting us for the 'flip' animation of the tile*/
.tile_inner{
    position: relative;
    width : 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

/*For when tile needs to be flipped*/
.tile_inner.is_flipped{
    transform: rotateY(180deg);
}

.tile_face{
    position: absolute;
    width : 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.face2{
    transform: rotateY(180deg);
}